{{ partial "header" . }}

<main>

<img src="{{.Site.BaseURL}}/img/headshot.jpg" width = "300" height = "300">
<h1> Kevin Zen </h1>
<h4 style = "color:#A9A9A9;">Data Scientist at Uptake  <img src="{{.Site.BaseURL}}/img/uptake.jpeg" width = "20" height = "20"></h4>
<h4 style = "color:#A9A9A9;">Computer Science and Economics at The University of Chicago  <img src="{{.Site.BaseURL}}/img/uchicago.png" width = "20" height = "20"></h4>

<br>
<h4>I try and express complicated concepts (with a focus on Machine Learning) in a more digestible fashion.</h4>

<br>
<h4>
	I also enjoy dabbling around in the kitchen. Most of the food recipes that I share are a mixture of traditional and modern recipes that reflect the experiences of me and my friends, as first generation asian americans.
</h4>

</main>

{{ partial "footer.html" . }}
