.concept-container{
  font-family: 'Roboto', sans-serif;
/*  font-size: 26px;
  letter-spacing: 4px;
  word-spacing: 2px;*/
  display: flex;
  flex-flow: row wrap;
  /* Then we define how is distributed the remaining space */
  justify-content: space-around;
  width: 100%;
  /*height: 100px;*/
  /*height: calc(100vh - 100px);*/
  background: #fff;

}

.concept-text{
  position: relative;
  border: 1px solid #fff;  /* For debugging */
  width: 600px;
  height: 600px;
}

.concept-example{
  position: relative;
  border: 1px solid #fff;  /* For debugging */
  width: 600px;
  height: 600px;
}

.gobutton {
  position: absolute;
  left: 50%;
  bottom: 10%;
  transform: translate(-50%, -50%);
  /*-ms-transform: translate(-50%, -50%);*/
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}


/*.concept-example a{
  position:relative;
  bottom:5px;
  right:5px;
}*/

.body{
  font-family: 'Dosis', sans-serif;
  font-size: 26px;
  letter-spacing: 4px;
  word-spacing: 2px;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  height: 800px;
  text-align: center;
}
svg{
  display: block;
  margin: auto;
}

.tick line {
  stroke: lightgrey;
  stroke-opacity: 0.7;
  shape-rendering: crispEdges;
}

.dotspace {
  fill: black;
  stroke-width: 2.0px;
}
.markers{
  opacity: 0.66;
}

/*.gobutton{
  background: #fff;
  margin: 20px;
  padding: 10px;
  /*color: #165FFB;*/
  cursor: pointer;
}*/



/* .basis{
  stroke: #222;
  stroke-width: 4px;
  fill: none;
  stroke-linejoin: round;
  stroke-linecap: round;
}  */

/*
.gobutton{
  background: #165FFB;
  margin: 20px;
  padding: 10px;
  color: #fff;
  cursor: pointer;
}


*/
/* .opaque{
  stroke: #222;
  stroke-width: 4px;
  fill: #fff;
  stroke-linejoin: round;
  stroke-linecap: round;
}
.textbox{
  fill: #fff;
  stroke: #222;
  stroke-width: 4px;
  stroke-linejoin: round;
  stroke-linecap: round;
} */

