{{ partial "header" . }}

<main>

  <div class="intro">

    {{ with .Site.Params.profilePic }} <img class="profile" src="{{ . }}"> {{ end }}

    <h1>{{ .Site.Title }}</h1>
    
    <section id="latest-post" class="p0 m0 center">
      <div class="clearfix">
        {{ range first 2 .Site.Pages }}
        <div class="xs-hide sm-col sm-col-12 md-col-2 lg-col-3 px2">
          <svg class="latest-accent-svg-icon"><use xlink:href="/img/symbol-defs.svg#{{ .Params.postsvg }}" /></svg>
        </div>

        <div class="sm-col-right sm-col-12 md-col-10 lg-col-9 px2 align-top left-align">
          <h3 class="h2 h2-responsive m1">
            <a href="{{ .RelPermalink }}">{{ .Title }}</a>
          </h3>
          <p class="deco italic m1 large">{{ .Params.postsummary | markdownify }}</p>
          <div class="right p0 m0">
            <p><a href="{{ .RelPermalink }}" class="deco">Read More&hellip;</a></p>
          </div>
          <p class="deco italic m1">By <a href="{{ .Site.Author.biourl }}">{{ .Site.Author.name }}</a>, <br class="sm-hide md-hide lg-hide">on {{ .Date.Format "2-Jan-2006" }}
            <br>In
            {{ $Site := .Site }}
            {{ if .Params.topics }}
            <span class="posttopics">
              {{ range .Params.topics }}
              <a class="bold inline-block px1 rounded bg-topic-{{ . | urlize }} muted" href="{{ $Site.BaseURL}}/topics/{{ . | urlize }}">{{ . }}</a>
              {{ end }}
            </span>
            {{ end }}
          </p>

        </div>
        {{ end }}
      </div>
    </section> 

    <!-- <h2>{{ markdownify .Site.Params.Description }}</h2> -->

  </div>

</main>

{{ partial "footer" . }}
