<!DOCTYPE html>
<html>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='concept.css') }}">
<script src="{{url_for('static', filename='d3.min.js')}}"></script>
<!-- <script src="https://d3js.org/d3.v4.min.js"></script> -->
<!-- <script src="https://www.lactame.com/lib/ml/3.2.0/ml.min.js"></script> -->
<script src="{{url_for('static', filename='math.min.js')}}"></script>
<script src="{{url_for('static', filename='plot_utils.js')}}"></script>
<script src="{{url_for('static', filename='plot_class.js')}}"></script>
<script src="{{url_for('static', filename='display_class.js')}}"></script>
<script src="{{url_for('static', filename='concepts/lin_alg/lin_alg_utils.js')}}"></script>
<script src="{{url_for('static', filename='concepts/lin_alg/lin_alg_vars.js')}}"></script>


<body>


  <div class = 'concept-container' id = "basis">
    <div class = 'concept-text'>
  
      <h3>Basis</h3>
      <p>
        The Basis are a set of linearly independent vectors which define some space.
        These don't need to be orthogonal (cross at 90 deg).
      </p>

    </div>

        <script type="text/javascript">
          // Read in linAlgGlobalVar and kernelPayload
          var vecCoordJson = {"xVec" : 
                                {"coordList" : [[[0,0], [1, 0]]
                                              , [[0,0], [2, 0]]
                                              , [[0,0], [2,0]]
                                              , [[0,0], [-2,0]]
                                              , [[0,0], [-3,0]]
                                              ]
                                  , "color" : "red"
                                }
                            // , "yVec" : {"coordList" : [[[0,0], [0,1]]
                            //                          , [[2,0], [2,2]]
                            //                          , [[2, 0], [2,-3]]
                            //                          , [[-2,0], [-2,-5]]
                            //                          , [[-2,0], [-2,2]]]
                                                     
                            //          ,  "color" : "green"
                            //         }
                            , "yVec" : {"coordList" : [[[0,0], [0,1]]
                                                     , [[0,0], [0,2]]
                                                     , [[0,0], [0,-3]]
                                                     , [[0,0], [0,-4]]
                                                     , [[0,0], [0,2]]]
                                                     
                                     ,  "color" : "green"
                                    }
                          , "vec" : {"coordList" : [[[0,0], [2,2]]
                                                  , [[0,0], [2,2]]
                                                  , [[0,0], [2,-3]]
                                                  , [[0,0], [-2,-4]]
                                                  , [[0,0], [-3,2]]
                                                  ]
                                      ,"color" : "purple"
                                    }
                        };

          var basis = new DisplayConceptExamplePlot({conceptId : basisPayload.conceptId
                , conceptExampleId : "basis-example"
                , buttonId : basisPayload.buttonId
                , xDomain : linAlgGlobalVar.plotDomain
                , yDomain : linAlgGlobalVar.plotDomain
                , height : linAlgGlobalVar.plotHeight
                , width : linAlgGlobalVar.plotWidth
                , numTicks : linAlgGlobalVar.numTicks
                , tarColor : basisPayload.tarColor
                , tarSpace : basisPayload.highlightSpace
                , vecCoordJson: vecCoordJson
                , duration: basisPayload.duration
                })
          
          // let testLine = new Vector({startCoord : [ 0, 0]
          //   , endCoord : [1, 0]
          //   , lineSize : 2
          //   , lineStyle : "solid"
          //   , height : 500
          //   , width : 500
          //   , numTicks : 10
          //   , color : "blue"
          //   , arrowId : "xVec"});

          // var svgContainer = d3.select("#basis-example")
          //                       .select("svg");
          // testLine.getVector(svgContainer);
          
          // let testLine1 = new Vector({startCoord : [ 0, 0]
          //   , endCoord : [0, 1]
          //   , lineSize : 2
          //   , lineStyle : "solid"
          //   , height : 500
          //   , width : 500
          //   , numTicks : 10
          //   , color : "blue"
          //   , arrowId : "yVec"});

          // testLine1.getVector(svgContainer);
                    

          // var coordList = [[[0, 0], [0, 3]]
          //         , [[0,0], [2,4]]
          //         ];

          // testLine.move(svgContainer, coordList, 2000);
          // testLine1.move(svgContainer, coordList, 2000);

          </script>

  </div>

  <div class = 'concept-container' id = "kernel">
    <div class = 'concept-text'>
  
      <h3>Kernel</h3>
      <p>
        The Kernel of a linear transformation (red points) is the space that goes to 0 during the  linear transformation. <br>
        When no dimensionality reduction happens eg. 2d to 1d, the only point in the kernel will be 0. 0 is always in the kernel.
      </p>

    </div>

        <script type="text/javascript">
          // Read in linAlgGlobalVar and kernelPayload
          var kernel = new DisplayConceptExamplePlot({conceptId : kernelPayload.conceptId
                , conceptExampleId : "kernel-example"
                , buttonId : kernelPayload.buttonId
                , xDomain : linAlgGlobalVar.plotDomain
                , yDomain : linAlgGlobalVar.plotDomain
                , height : linAlgGlobalVar.plotHeight
                , width : linAlgGlobalVar.plotWidth
                , numTicks : linAlgGlobalVar.numTicks
                , tarColor : kernelPayload.tarColor
                , tarSpace : kernelPayload.highlightSpace
                , listNextDotSpaces : kernelPayload.listNextDotSpaces
                })

          </script>

  </div>

  <div class = 'concept-container' id = "image">
    <div class = 'concept-text'>
  
      <h3>Image</h3>
      <p>
        The Image of a linear transformation (red points) is the space (span) which the linear transformation maps to. 
      </p>

    </div>



        <script type="text/javascript">

          var image = new DisplayConceptExamplePlot({conceptId : imagePayload.conceptId
                , conceptExampleId : "image-example"
                , buttonId : imagePayload.buttonId
                , xDomain : linAlgGlobalVar.plotDomain
                , yDomain : linAlgGlobalVar.plotDomain
                , height : linAlgGlobalVar.plotHeight
                , width : linAlgGlobalVar.plotWidth
                , numTicks : linAlgGlobalVar.numTicks
                , tarColor : imagePayload.tarColor
                , tarSpace : imagePayload.highlightSpace
                , listNextDotSpaces : imagePayload.listNextDotSpaces
                })

          </script>

  </div>

  <!-- <div class = 'concept-container'>
    <div class = 'concept-text'>
  
      <h3>Transpose</h3>
      <p>
        
      </p>

    </div>

    <div class = 'concept-example' id = "transpose_normal">
        <button class="gobutton" id="transpose_transform_normal">Go!</button>

        <script type="text/javascript">

          var transposeNormal = new DisplayTransConceptPlot(conceptId = transposeNormalPayload.conceptId
                                  , buttonId = transposeNormalPayload.buttonId
                                  , initDotSpace = linAlgGlobalVar.space
                                  , highlightSpace = transposeNormalPayload.highlightSpace
                                  , domain = linAlgGlobalVar.plotDomain
                                  , width = linAlgGlobalVar.plotWidth
                                  , height = linAlgGlobalVar.plotHeight
                                  , numTicks = linAlgGlobalVar.numTicks
                                  , transMatrix = transposeNormalPayload.transMatrix
                                  , duration = transposeNormalPayload.duration
                                  , tarColor = transposeNormalPayload.tarColor
                                  )
          // transpose.animate
          </script>

    </div>
    <div class = 'concept-example' id = "transpose">
        <button class="gobutton" id="transpose_transform">Go!</button>

        <script type="text/javascript">

          var transpose = new DisplayTransConceptPlot(conceptId = transposePayload.conceptId
                                  , buttonId = transposePayload.buttonId
                                  , initDotSpace = linAlgGlobalVar.space
                                  , highlightSpace = transposePayload.highlightSpace
                                  , domain = linAlgGlobalVar.plotDomain
                                  , width = linAlgGlobalVar.plotWidth
                                  , height = linAlgGlobalVar.plotHeight
                                  , numTicks = linAlgGlobalVar.numTicks
                                  , transMatrix = transposePayload.transMatrix
                                  , duration = transposePayload.duration
                                  , tarColor = transposePayload.tarColor
                                  )
          // transpose.animate
          </script>

    </div>

  </div> -->
   

</body>
</html>
